/openLegislature/target/
/openLegislature/nbactions.xml
/openLegislature/data/*
/openLegislature/config/*.properties
/openLegislature/logs/*
/openLegislature/.settings/*
/openLegislature/.project
/openLegislature/.classpath
/openLegislature/.idea
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
